$primary: #282828;
$secondary: #303030;
$background: #1f1f1f;
$textPrimary: #EEEEEE;
$textSecondary: #AAAAAA;

.videoSettingsContainer {
  padding: 25px;

  .settingsGroup {
    display: flex;
    flex-direction: column;
    transition: 0.5s;

    h2 {
      margin: 0;
      cursor: pointer;
      transition: 0.3s;
    }

    h2:hover {
      color: orange;
    }

    span {
      color: $textSecondary;
      margin-bottom: 20px;
    }

    .settingsGroupContainer {
      display: flex;
      flex-direction: column;

      .btnContainer {
        display: flex;
        flex-direction: row-reverse;
        align-content: space-around;
        margin-right: 25px;

        .pxBtn {
          margin-left: 5px;
        }
      }
    }

    border-width: 0 0 0 3px;
    border-color: $secondary;
    border-style: solid;
    padding: 15px;
    margin-bottom: 25px;
  }

  .settingsGroup:hover {
    border-color: $textSecondary;
  }
}

.sliderContainer {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  margin-bottom: 12px;

  label {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

.colorGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .addColorBtn {
    width: 25px;
    height: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 12.5px;
    background-color: orange;
    transition: 0.3s;
    cursor: pointer;
  }

  .addColorBtn:hover {
    background-color: #1f1f1f;
    color: #EEEEEE;
  }
}

.colorBrowser {
  background-color: #303030;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 200px;
  padding: 0;

  .paletteContainer {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr;

    padding: 5px;

    &:hover {
      background-color: #1f1f1f;
    }

    .colorContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 350px;

      div {
        width: 15px;
        height: 15px;
      }
    }
  }


}