.videoContainer {
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;

  .vHeader {
    display: grid;
    grid-template-columns: 5fr 1fr;

    h1 {
      margin: 0;
    }

    span {
      color: #AAAAAA;
    }

    .pxBtn {
      padding: 0;
      margin-left: 5px;
      cursor: pointer;
      transition: 0.3s;
      color: white;
      font-size: 1.2rem;
    }

    .pxBtn:hover {
      background-color: #cc7a00;
      color: #EEEEEE;
    }
  }

  #videoCanvas {
    margin-top: 5px;
    max-width: 50vw;
  }

  .noUi-target {
    max-width: 960px;
    border-color: #121212;
  }

  .noUi-connect {
    background-color: orange;
  }

  .noUi-tooltip {
    top: 35px;
    padding: 3px 10px 20px 10px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.8)
  }

  .noUi-handle {
    max-width: 18px;
    border-radius: 5px;
  }

}