@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

$primary: #282828;
$secondary: #303030;
$background: #1f1f1f;

body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  color: #EEEEEE;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  min-height: 100vh;

  #sSide {
    background-color: $primary;
  }

  #mSide {
    background-color: $primary;
    padding: 30px;
  }
}

@import './scss/videoPlayer.scss';
@import './scss/videoSettings.scss';
@import './scss/button.scss';