@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

$primary: #282828;
$secondary: #303030;
$background: #1f1f1f;

body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  color: #EEEEEE;
  margin: 0;
}

.main {
  display: flex;
  width: 100vw;
  min-height: 100vh;

  #sSide {
    background-color: $primary;
    min-width: 480px;
  }

  #vSide {
    width: 100%;
  }
}

@import './scss/videoPlayer.scss';
@import './scss/videoSettings.scss';
@import './scss/button.scss';