//
// MDC Theme
//

@import "@material/theme/color-palette";

$mdc-theme-primary: #03A9F4;
$mdc-theme-secondary: #FFC107;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;