//
// MDC Theme
//

@import "@material/theme/color-palette";

$mdc-theme-primary: rgb(223, 223, 223);
$mdc-theme-secondary: rgb(119, 183, 255);

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;